
.home {
  padding: 48px 100px 0 100px;
  height: 100vh;
}

.main {
  max-width: 1170px;
  display: flex;
  justify-content: space-between;
  margin: 200px auto;
}

.article {
  max-width: 500px;

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 32px;
    color: #007BFF;
  }
}

