.header {
  background-color: #00FFBF;
  border-radius: 48px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 48px 0 48px;
  position: absolute;
  width: 80%;
  position: fixed;
  top: 48;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  z-index: 999;

  h2 {
    color: #000000;
    font-size: 48px;
  }
}


.hamburger {
  width: 80px;
  height: 64px;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
}

.lineLarge {
  height: 16px;
  width: 100%;
  border-radius: 50px;
  background-color: #030712;
}

.lineSmall {
  height: 16px;
  width: 60%;
  border-radius: 50px;
  background-color: #030712;
}